{% load common_filters %}
<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ modal_title }}</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ form_action }}">
                        {% csrf_token %}
                        {% include "form_errors.html" %}
                        {{ form }}
                        <div class="modal-footer justify-content-start">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button"
        class="ms-auto btn btn-outline-secondary hstack black-text h-text-white"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
    <i class="fs-5 bi bi-plus-square"></i>
    <span class="ms-2">{{ button_text }}</span>
</button>
<!-- check if has_error_messages is true then display h2 -->
{% if messages|has_error_messages %}
    <script type="module">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector("button[data-bs-toggle='modal']").click()
    })
    </script>
{% endif %}
