{% extends "base.html" %}
{% load static %}
{% block js_files %}
    <script type="module" defer>
    import { setFeatureToggleEventListener } from "{% static 'js/projects/projects_detail.mjs' %}";
    setFeatureToggleEventListener();
    </script>
{% endblock %}
{% block title %}Projects Detail{% endblock %}
{% block content %}
    <div class="hstack mb-5">
        <p class="fs-3">{{ project.name }}</p>
        <a type="button"
           class="ms-auto btn btn-outline-secondary hstack black-text h-text-white"
           href="{% url 'projects:feature_flags:create' project_uuid=project.uuid %}">
            <i class="fs-5 bi bi-plus-square"></i>
            <span class="ms-2">Create</span>
        </a>
    </div>
    <div class="table-responsive border rounded">
        <table class="table table-hover table-borderless caption-top">
            <caption class="p-2">List of Feature Flags</caption>
            <thead class="table-light">
                <tr>
                    <th scope="col">Feature</th>
                    {% for environment in environments %}
                        {% with env_name=environment.name %}<th scope="col">{{ env_name | capfirst }}</th>{% endwith %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project_detail in project_details %}
                    <tr>
                        <td>{{ project_detail.feature_flag.name }}</td>
                        {% for toggle in project_detail.toggles %}
                            {% with is_toggled=toggle.enabled %}
                                <td>
                                    <div class="form-check form-switch">
                                        <!-- add cursor to hover bootstrap class -->
                                        <input class="form-check-input hover:cursor-pointer"
                                               type="checkbox"
                                               aria-checked="{% if is_toggled %}true{% else %}false{% endif %}"
                                               role="switch"
                                               name="feature-toggle"
                                               id="{{ toggle.id }}"
                                               {% if is_toggled %}checked{% endif %} />
                                    </div>
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
