{% extends "base.html" %}
{% block title %}Projects List{% endblock %}
{% block content %}
    <div class="hstack mb-5">
        <p class="fs-3">Projects</p>
        {% url 'projects:create' as create_project %}
        {% with modal_title="Create Project" button_text="Create" form_action=create_project %}
            {% include "includes/form_modal.html" %}
        {% endwith %}
    </div>
    <div class="table-responsive border rounded">
        <table class="table table-hover table-borderless">
            <thead class="table-light">
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>
                            <a class="text-decoration-none text-reset hstack"
                               href="{% url 'projects:detail' project.uuid %}">
                                <span class="m3-auto">{{ project.name }}</span>
                                <i class="ms-auto bi bi-chevron-double-right"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- check if the length of the projects is 0 -->
    {% if projects|length == 0 %}<p>No projects found...</p>{% endif %}
{% endblock %}
<!-- comment -->
{% comment %} {% for project in projects %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> {% endcomment %}
