{% extends "base.html" %}
{% load static %}
{% block js_files %}
    <script type="module" defer>
    import { setFeatureToggleEventListener } from "{% static 'js/projects/projects_detail.mjs' %}";
    setFeatureToggleEventListener();
    </script>
{% endblock %}
{% block title %}Projects Detail{% endblock %}
{% block content %}
    <div class="hstack mb-5">
        <p class="fs-3">Feature Toggles</p>
        {% url 'feature_flags:create' project.uuid as create_feature_flag %}
        {% with modal_title="Add Feature Toggle" button_text="Create" form_action=create_feature_flag %}
            {% include "includes/form_modal.html" %}
        {% endwith %}
    </div>
    <div class="table-responsive border rounded">
        <table class="table table-hover table-borderless">
            <thead class="table-light">
                <tr>
                    <th scope="col">Feature</th>
                    {% for environment in environments %}
                        {% with env_name=environment.name %}<th scope="col">{{ env_name | capfirst }}</th>{% endwith %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project_detail in project_details %}
                    <tr>
                        <td>{{ project_detail.feature_flag.name }}</td>
                        {% for toggle in project_detail.toggles %}
                            {% with is_toggled=toggle.enabled %}
                                <td>
                                    <div class="form-check form-switch">
                                        <!-- add cursor to hover bootstrap class -->
                                        <input class="form-check-input hover:cursor-pointer"
                                               type="checkbox"
                                               aria-checked="{% if is_toggled %}true{% else %}false{% endif %}"
                                               role="switch"
                                               name="feature-toggle"
                                               id="{{ toggle.id }}"
                                               {% if is_toggled %}checked{% endif %} />
                                    </div>
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
