.no-link-style {
    color: inherit;
    text-decoration: none;
}

.black-text {
    color: black;
}

.h-text-white:hover {
    color: #fff;
}

[class*='hover:cursor-pointer']:hover {
    cursor: pointer;
}