<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-md">
        <a class="navbar-brand" href="{% url 'index' %}"><strong>Vario</strong></a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active"
                       aria-current="page"
                       href="{% url 'projects:list' %}">Projects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">Configurations</a>
                    <ul class="dropdown-menu bg-light" data-bs-theme="light">
                        <li>
                            <a class="dropdown-item" href="#">Environments</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Feature Flag Types</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Context Fields</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <form class="logout-form" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="#" />
                            <button class="nav-link logout-button" type="submit">Sign Out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
